@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@400;600;700&display=swap');

@layer base {
  :root {
    --font-sans: "Noto Sans TC", sans-serif;
    --font-serif: "Noto Serif TC", serif;
  }

  body {
    @apply bg-tea-cream-light text-tea-text font-sans antialiased;
  }

  h1, h2, h3 {
    @apply font-serif;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
